body{
    background-color: #0c4b00;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #719f58;
    padding: 7px;
  

}

.botoes-inicio{
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
    gap: 50px;
}

#botao-vermelho{
    color: #d73943;
    background-color: #d739431c;
    border-color: #d73943;
    border-radius: 20px;
    padding: 6px;
    font-weight: bold
}
#botao-verde{
    color: #719f58;
    background-color: #719f5817; 
    border-color: #335521;

    border-radius: 20px;
    padding: 6px;
    font-weight: bold
}
#botao-azul{
    color: #2683b0;
    background-color: #2682b01c; 
    border-color: #2683b0;

    border-radius: 20px;
    padding: 9px;
    font-weight: bold
    
}


.links{
    color: white;
    text-decoration: none;
    margin-right: 10px;

}

#icones{
    width: 60px;
    height: 60px;
}
#imagem-rua{
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 20px;
}
.conteudo{
    display: flex;
    
}
.problemas{
    width: 50%;
}
.informacoes{
    width: 50%;

}

.caixa-problemas{

    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #719f58;
    margin:65px 70px 0 270px;
    border-radius: 20px;
    padding: 20px 27px;
    justify-content: center;
    gap: 40px;
}

.botoes-problema{
    display: flex;
    align-items: center;
    gap: 40px;
}

.pai-metrica {

    margin: 50px 70px 0 270px;
    font-size: 19px;
}

.caixa-metrica {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #2683b0;
    border-radius: 20px;
    padding: 25px 27px;
    gap: 40px;
}

.metrica {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.numero {
    font-size: 50px;
    font-weight: bold;
}

.texto {
    font-size: 18px;
}

.caixa-lista-problema{
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #719f58;
    border-radius: 20px;
    
    gap: 40px;


}

.caixa-lista-problema{
    font-size: 23px;
    line-height: 2;
}

.abaixo-da-imagem{
    margin-left: 50px;
    display: flex;
    gap: 18px;
}

.abaixo-agosto{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.botoes-agosto{
    margin-top: 7px;
    color: white;
    background-color: #1a4d2e;  


    border-radius: 15px;
    padding: 9px;
    font-weight: bold
}

#listas{
    margin-right: 34px;
}


 